@import '../../../colors';

.fund {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__name {
    font-size: 22px;
    color: mat-color($md-steel, 500);
    width: 150px;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  &__stat {
    margin-left: 15px;

    &:first-of-type {
      margin-left: 30px;
    }
  }

  &--level-1 .fund {
    background-color: mat-color($primary, "A100");
  }

  &--level-2 .fund {
    background-color: mat-color($md-steel, 50);
  }

  &--level-3 .fund {
    background-color: white
  }
}

.fund .collapse-toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
.fund:hover .collapse-toggle,
.fund .collapse-toggle:focus {
  position: initial;
  width: initial;
  height: initial;
  overflow: initial;
  z-index: initial;
  margin-right: 15px;
}