<div class="budget-overview">

  <!-- Was an error loading the budget-->
  <ng-template [ngIf]="this.wasError" [ngIfElse]="notWasError">
    <div>
      <span>There was an error loading your budgets, please try again.</span>
    </div>
  </ng-template>
  <ng-template #notWasError>
    <div>
      <ng-template [ngIf]="this.isEditingRootName" [ngIfElse]="notEditingRootName">
        <input
          class="inplace-input inplace-input__input inplace-input--large"
          name="root-budget-name"
          aria-label="Root Budget Name"
          (blur)="onBlurInplaceEdit('name', $event)"
          (mouseup)="$event.target.focus();" />
      </ng-template>
      <ng-template #notEditingRootName>
        <h2
          class="root-budget-name inplace-input inplace-input__focusable inplace-input--large"
          (mousedown)="onOpenInplaceEdit('name', $event)">
          {{this.rootBudget.name}}
        </h2>
      </ng-template>

      <div class="budget-period-info">
        <h2 class="budget-period-info__dates">
          ({{this.currentBudgetPeriod.startDate | date:'MMM d'}}
          -
          {{this.currentBudgetPeriod.endDate | date:'MMM d'}})
        </h2>

        <button class="edit-duration" (click)="this.onEditDurationClick()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <!-- Pencil Icon -->
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="root-budget-details">
      <div
        class="root-budget-stat"
        [ngClass]="{'root-budget-allocated--good': plannedIncomeComparedToAmountBudgeted == 0}">
        <h5 id="setAmountLabel">Planned Income</h5>

        <ng-template [ngIf]="this.isEditingRootAmount" [ngIfElse]="notEditingRootAmount">
          <input
            class="inplace-input inplace-input__input inplace-input--short"
            type="number"
            step="0.01"
            aria-labelledby="setAmountLabel"
            (blur)="onBlurInplaceEdit('setAmount', $event)"
            (mouseup)="$event.target.focus();" />
        </ng-template>
        <ng-template #notEditingRootAmount>
          <span
            class="inplace-input inplace-input--short inplace-input__focusable root-budget-stat__stat"
            (mousedown)="onOpenInplaceEdit('setAmount', $event)">
            {{this.rootBudget.setAmount | currency}}
          </span>
        </ng-template>
      </div>

      <div *ngIf="this.plannedIncomeComparedToAmountBudgeted != 0" class="root-budget-stat">
        <h5 class="{{this.leftToBudgetClassName}}">
          {{this.leftToBudgetLabel}}
        </h5>
        <span class="root-budget-stat__stat {{this.leftToBudgetClassName}}">
          {{plannedIncomeDiffAmountBudgeted | currency}}
        </span>
      </div>

      <div class="root-budget-stat">
        <h5>Current Balance</h5>
        <span class="root-budget-stat__stat">{{this.rootBudget.fundBalance | currency}}</span>
      </div>
    </div>
  </ng-template>
  
  <div class="root-budget-control__container">
    <button
      class="button button--primary button--wide"
      [ngClass]="{'button--disabled': isAddingBudget}"
      [disabled]="isAddingBudget"
      (click)="onAddBudgetClick(rootBudget)">
      Add Budget
    </button>

    <button
      class="button button--primary button--wide root-budget-control"
      [ngClass]="{'button--disabled': isAddingBudget}"
      [disabled]="isAddingBudget"
      (click)="onFinalizeBudget(rootBudget)">
      Finalize
    </button>
  </div>

  <div>
    <bs-budget
      *ngFor="let budget of rootBudget.subBudgets"
      [budget]="budget"
      [level]=1
      (createSubBudget)="onSaveBudget($event)"
      (editBudget)="onEditBudget($event)"
      (removeBudget)="onRemoveBudget($event)">
    </bs-budget>
  </div>

  <div *ngIf="this.isAddingBudget">
    <bs-add-budget-form (onClose)="onCloseAddBudgetModal()" (onSaveClicked)="onSaveBudget($event)" [parentBudget]="this.rootBudget"></bs-add-budget-form>
  </div>

  <div *ngIf="this.isEditingDuration">
    <bs-edit-duration-form (onClose)="onCloseDurationEditModal()" (onEditSubmit)="this.onEditDurationSubmit($event)" [budgetDuration]="this.rootBudget.duration"></bs-edit-duration-form>
  </div>

</div>