@import '../../../variables.scss';

#budgets {
    padding-left: var(--page-side-padding);
    padding-right: var(--page-side-padding);
    padding-top: 16px;
    padding-bottom: 32px;

    .root-budget-name {
        width: initial;
    }

    .root-budget-details {
        margin-top: 1em;
        background-color: mat-color($steel, 50);
        display: flex;
        justify-content: flex-start;
        padding: 1em 0;

        .root-budget-stat {
            margin: 0 1em;
        }

        h5 {
            margin: 4px 0;
        }

        span {
            font-size: 15px;
            line-height: 150%;
            color: #687F83;
        }
    }

    .root-budget-controls {
        margin-top: 1em;
    }

    .budget-list {
        margin-top: 16px;
    }

    .budget-period-info {
        margin-left: 15px;
        display: inline-block;

        &__dates {
            display: inline-block;
        }
    }

    .edit-duration {
        background: none;
        border: none;
        cursor: pointer;

        svg {
            fill: mat-color($steel, 200);
        }

        &:hover svg {
            fill: mat-color($accent, 900);
        }
    }
}