@import './variables';

.color {
  &-bg {
      &__primary { background-color: mat-color($primary, 500); }
  }

  &-txt {
      &__primary {
          color: mat-color($primary, 500);

          &-dark {
              color: mat-color($primary, 900);
          }
      }

      &__accent {
        color: mat-color($accent, 500);
      }

      &__steel {
        color: mat-color($steel, 500);

        &--dark {
          color: mat-color($steel, 900);
        }
      }
  }
}

.color-wash-bg {
  &--light {
      background-color: mat-color($steel, 50);
      fill: mat-color($steel, 50);
  }

  &--dark {
      background-color: mat-color($steel, 100);
      fill: mat-color($steel, 100);
  }
}