@import './budgetsquirrel-material-theme';
@import './responsive';
@import './z-index';
@import './layouts';
@import './colors';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    --page-side-padding: 110px;
    color: $black;
}

.promo__img {
    width: 375px;
    height: 400px;

    &__container {
        z-index: 6;
        position: relative;
    }

    &--small {
        width: 314px;
        height: 334px;
    }
}

// Forms
.form {
    .input {
        display: block;
    }

    &__inputs {
        margin-top: 60px;

        > .input {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__actions {
        margin-top: 60px;
    }
}

// Form controls
.input {
    width: 460px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    padding: 0.9em;
    box-sizing: border-box;

    &--wrapper {
        padding: 0;
        border: none;
        background: none;
    }

    &__explain {
        font-size: 12px;
        margin-top: 12px;
    }
}

.button {
    background-color: #C4C4C4;
    border: none;
    border-radius: 4px;
    color: $black;
    padding: 15px;
    font-size: inherit;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &--wide {
        width: 300px;
    }

    &--primary {
        background-color: mat-color($accent, 500);
        color: mat-contrast($accent, 500);

        &:hover {
            background-color: mat-color($accent, 600);
        }
    }
}