@import './budgetsquirrel-material-theme';
@import './responsive';
@import './z-index';
@import './layouts';
@import './colors';
@import './modal';

/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Ilisarniq;
    src: url(assets/fonts/Ilisarniq/Ilisarniq-Regular.otf) format("opentype");
}

* {
    margin: 0;
    box-sizing: content-box;
}

html, body { height: 100%; }
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: Ilisarniq;
    font-size: 18px;
    margin: 0;
    --page-side-padding: 110px;
    color: mat-color($steel, 900);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.promo__img {
    width: 375px;
    height: 400px;

    &__container {
        z-index: 6;
        position: relative;
    }

    &--small {
        width: 314px;
        height: 334px;
    }
}

// Forms
.form {
    &__inputs {
        margin-top: 60px;

        > .input {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__actions {
        margin-top: 60px;
    }
}

// Form controls
.form-field {
    display: inline-block;
    width: 480px;

    &--short {
        width: 240px;
    }

    &--block {
        display: block !important;
        width: 480px;
    }
}

.inplace-input {
    width: 250px;
}

.inplace-input__focusable {
    cursor: text;
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
}

.inplace-input__focusable:hover {
    background-color: mat-color($md-russian-green, 100);
}

.inplace-input__input {
    --inplace-input-font-size: 16px;
    --inplace-input-padding: 4px;
    display: block;
    background: none;
    border: 1px solid mat-color($steel, 900);
    font-size: var(--inplace-input-font-size);
    padding: var(--inplace-input-padding);
    border-radius: 2px;
    width: 250px;
}

.inplace-input--large {
    --inplace-input-font-size: calc(1.5em - 2px);
}

.inplace-input--short {
    width: 100px;

    &.inplace-input__input {
        width: 98px;
    }
}

.button {
    background-color: $white;
    border: none;
    border-radius: 4px;
    color: $black;
    padding: 15px;
    font-size: inherit;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }

    &--wide {
        width: 300px;
    }

    &--small {
        font-size: 0.6em;
        padding: 8px;
    }

    &--primary {
        background-color: mat-color($accent, 500);
        color: mat-contrast($accent, 500);

        &:hover {
            background-color: mat-color($accent, 600);
        }
    }

    &--disabled {
        background-color: mat-color($steel, 300);

        &:hover {
            background-color: mat-color($steel, 300);
        }
    }
}

.stat {
    font-size: 22px;
    margin-top: 4px;
    color: mat-color($md-steel, 400);

    &__container {
        display: inline-flex;
        flex-direction: column;
    }

    &__label {
        font-size: 0.6em;
        font-weight: bold;
    }
}