<div class="splash">
  <div class="vert-section">
    <div class="vert-section__content splash__summary-section">
      <div class="vert-section__column splash__section__content--grow z-6">
        <h1 class="color-txt__main-dark">
            Budget Squirrel is a budget management tool
            designed for both control freeks and the
            laid back.
        </h1>
        <p class="color-txt__main-dark splash__section__content--no-grow">
            A budget management tool designed for both
            control freeks and the laid back.
        </p>
        <a class="register-btn button button--primary button--wide" routerLink="/sign-up">Sign Up</a>
      </div>
      <div class="vert-section__column splash__section__img promo__img__container">
          <img class="promo__img--small" />
      </div>
    </div>
    <svg class="diag-border"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none">
      <polygon class="diag-border__top" points="0 10,100 0,0 0" />
      <polygon class="diag-border__border" points="0 9,100 0,100 1,0 10" />
    </svg>
  </div>
</div>