<div class="splash">
  <div class="vert-section">
    <div class="vert-section__content splash__summary-section">
      <div class="vert-section__column splash__section__content--grow z-6">
        <h1 class="color-txt__primary-dark">
            Budget Squirrel is a budget management tool
            designed for both control freeks and the
            laid back.
        </h1>
        <p class="color-txt__primary-dark splash__section__content--no-grow">
            A budget management tool designed for both
            control freeks and the laid back.
        </p>
        <a class="register-btn button button--primary button--wide" routerLink="{{routes.SIGN_IN}}">Sign Up</a>
        <p class="signin-label color-txt__primary-dark">Already have an account?</p>
        <a class="color-txt__accent" routerLink="{{routes.SIGN_IN}}">Login</a>
      </div>
      <div class="vert-section__column splash__section__img promo__img__container">
          <img class="promo__img--small" />
      </div>
    </div>
    <svg class="diag-border"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 10"
      preserveAspectRatio="none">
      <polygon class="diag-border__border" points="0 9,100 0,100 1,0 10" />
      <polygon class="diag-border__bottom" points="0 10,100 1,100 100" />
    </svg>
  </div>

  <div class="vert-section">
    <div class="vert-section__content splash__goals-section">
      <div class="vert-section__column splash__section__content--grow z-6">
        <h1 class="color-txt__primary-dark">
          Create budget goals
        </h1>
        <p class="color-txt__primary-dark splash__section__content--no-grow">
          Set budgets for each spending category and track your spending over time.
        </p>
        <a class="register-btn button button--primary button--wide" routerLink="{{routes.SIGN_IN}}">Sign Up</a>
      </div>
      <div class="vert-section__column splash__section__img promo__img__container">
        <img class="promo__img--small" />
      </div>
    </div>
  </div>

  <div class="vert-section">
    <div class="vert-section__content splash__tracking-section">
      <div class="vert-section__column splash__section__img promo__img__container">
        <img class="promo__img--small" />
      </div>
      <div class="vert-section__column splash__section__content--grow z-6">
        <h1 class="color-txt__primary-dark">
          Track your goals
        </h1>
        <p class="color-txt__primary-dark splash__section__content--no-grow">
          Create seperate spending periods for different categories and check your performance.
        </p>
        <a class="register-btn button button--primary button--wide" routerLink="{{routes.SIGN_IN}}">Sign Up</a>
      </div>
    </div>
  </div>

  <div class="vert-section">
    <div class="vert-section__content splash__mini-promo-section">
      <div class="splash__secondary-promo">
        <img />
        <p>100% Free to Use</p>
        <p>Budget Squirrel is free to use, no trials and no fees.</p>
      </div>

      <div class="splash__secondary-promo">
        <img />
        <p>Budgeting on the Go</p>
        <p>Budget Squirrel is available for both mobile and desktop.</p>
      </div>

      <div class="splash__secondary-promo">
        <img />
        <p>Keep Updated</p>
        <p>Enable email notifications to remind yourself.</p>
      </div>
    </div>
  </div>

  <div class="vert-section">
    <div class="vert-section__content vert-section__content--no-side-margins vert-section__content--no-height-padding splash__register-section">
      <h1 class="register-section__item">Get nuts about your budget.</h1>
      <a class="register-section__item register-btn button button--primary button--wide" routerLink="{{routes.SIGN_IN}}">Get Started</a>
    </div>
    <div class="splash__register-section-background">
      <svg class="splash__register-section-background-svg"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 100 40"
        preserveAspectRatio="none">
        <polygon class="color-wash-bg--dark" points="0 30, 100 10, 100 40, 0 40" />
        <polygon class="color-wash-bg--light" points="0 5, 100 20, 100 40, 0 40" />
      </svg>
    </div>
  </div>
</div>