<div id="budgets">

  <!-- Was an error loading the budget-->
  <div *ngIf="this.wasError">
    <span>There was an error loading your budgets, please try again.</span>
  </div>

  <ng-template *ngIf="!this.wasError">
    <ng-template [ngIf]="this.isEditingRootName" [ngIfElse]="notEditingRootName">
      <input
        class="inplace-input inplace-input__input inplace-input--large"
        name="root-budget-name"
        aria-label="Root Budget Name"
        (blur)="onBlurInplaceEdit('rootName', $event)"
        (mouseup)="$event.target.focus();" />
    </ng-template>
    <ng-template #notEditingRootName>
      <h2
        class="inplace-input inplace-input__focusable inplace-input--large"
        (mousedown)="onOpenInplaceEdit('rootName', $event)">
        {{this.rootBudget.name}}
      </h2>
    </ng-template>

    <div class="root-budget-details">
      <div class="root-budget-stat">
        <h5 id="rootAmountLabel">Planned Income</h5>

        <ng-template [ngIf]="this.isEditingRootAmount" [ngIfElse]="notEditingRootAmount">
          <input
            class="inplace-input inplace-input__input inplace-input--short"
            type="number"
            step="0.01"
            aria-labelledby="rootAmountLabel"
            (blur)="onBlurInplaceEdit('rootAmount', $event)"
            (mouseup)="$event.target.focus();" />
        </ng-template>
        <ng-template #notEditingRootAmount>
          <span
            class="inplace-input inplace-input--short inplace-input__focusable"
            (mousedown)="onOpenInplaceEdit('rootAmount', $event)">
            {{this.rootBudget.setAmount | currency}}
          </span>
        </ng-template>
      </div>

      <div class="root-budget-stat">
        <h5>Current Balance</h5>
        <span>{{this.rootBudget.fundBalance | currency}}</span>
      </div>
    </div>
  </ng-template>

</div>