@import '../../../variables';

.budget-item {
  padding: 15px;
  position: relative;

  &__container {
    margin-top: 15px;
  }

  &__actions {
    margin-left: 30px;
    display: inline-block;

    position: static;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &:hover .budget-item__actions {
    width: unset;
    height: unset;
    overflow: unset;
  }

  &__content {
    display: inline-block;
  }

  &--level-1 {
    border: 2px solid mat-color($md-steel, 50);
    
    .budget-item {
      background-color: mat-color($md-brown, A100);
    }
  }

  &--level-2 {
    border: 2px solid mat-color($md-steel, 100);

    .budget-item {
      background-color: mat-color($md-steel, A100);
    }
  }

  &--level-3 {
    border: none;

    .budget-item {
      background-color: $white;
      padding: 10px 20px;

      &__header {
        display: inline-block;
      }

      &__content {
        display: block;
      }

      &__name {
        display: inline-block;
      }

      &__stats {
        display: inline-block;
        margin-top: 0;
        margin-left: 30px;

        .stat {
          margin-top: 0;

          &__label {
            font-size: 1em;
            color: mat-color($md-steel, 200);
          }

          &__container {
            display: inline-block;
          }
        }
      }

      &__balance-stat {
        margin-left: 15px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__name {
    font-weight: bold;
    padding: 8px 0;
  }

  &__stats {
    margin-top: 12px;
  }

  &__balance-stat {
    margin-left: 36px;
  }

  &__sub-budget-container {
    padding: 15px;
    padding-top: 0;
  }
}