<div class="budget-item__container budget-item--level-{{this.level}}">
  <div class="budget-item">
    <div class="budget-item__content">
      <div class="budget-item__header">
        <ng-template [ngIf]="this.isEditingRootName" [ngIfElse]="notEditingRootName">
          <input
            class="inplace-input inplace-input__input inplace-input--large"
            name="root-budget-name"
            aria-label="Root Budget Name"
            (blur)="onBlurInplaceEdit('rootName', $event)"
            (mouseup)="$event.target.focus();" />
        </ng-template>
        <ng-template #notEditingRootName>
          <h2
            class="inplace-input inplace-input__focusable inplace-input--large"
            (mousedown)="onOpenInplaceEdit('rootName', $event)">
            {{this.budget.name}}
          </h2>
        </ng-template>

        <div *ngIf="shouldShowActionsAbove" class="budget-item__action-container">
          <button *ngIf="shouldShowAddBudgetButton" class="button button--small button--primary budget-item__action" (click)="onAddBudgetClicked(this.budget)">
            Add SubBudget
          </button>
          <button class="button button--small button--danger budget-item__action" (click)="onRemoveBudgetClicked(this.budget)">
            Remove
          </button>
        </div>
      </div>

      <div class="budget-item__stats">
        <span class="stat__container">
          <span class="stat__label">
            {{this.amountInLabel}}
          </span>
          <ng-template [ngIf]="this.isEditingRootAmount" [ngIfElse]="notEditingRootAmount">
            <input
              class="inplace-input inplace-input__input inplace-input--short stat stat--editing"
              type="number"
              step="0.01"
              aria-labelledby="rootAmountLabel"
              (blur)="onBlurInplaceEdit('rootAmount', $event)"
              (mouseup)="$event.target.focus();" />
          </ng-template>
          <ng-template #notEditingRootAmount>
            <span
              class="inplace-input inplace-input--short inplace-input__focusable stat stat--editable"
              [ngClass]="{'stat--danger': isSubBudgetTotalPlannedAmountTooHigh}"
              (mousedown)="onOpenInplaceEdit('rootAmount', $event)">
              {{this.budget.setAmount | currency}}
              Should show update this parent budget modal: {{shouldShowUpdateParentAmountModal}}
            </span>
          </ng-template>
        </span>

        <span class="stat__container budget-item__balance-stat">
          <span class="stat__label">
            {{this.balanceLabel}}
          </span>
          <span class="stat">
            {{this.budget.fundBalance | currency}}
          </span>
        </span>
      </div>

      <div *ngIf="shouldShowActionsToRight" class="budget-item__action-container">
        <button class="button button--small button--danger budget-item__action" (click)="onRemoveBudgetClicked(this.budget)">
          Remove
        </button>
      </div>
    </div>
  </div>

  <ng-template [ngIf]="this.hasSubBudgets" [ngIfElse]="hasNoSubBudgets">
    <div class="budget-item__sub-budget-container">
      <bs-budget
        *ngFor="let subBudget of budget.subBudgets"
        [budget]="subBudget"
        [level]="subBudgetLevel"
        (addBudget)="onAddBudgetClicked($event)"
        (removeBudget)="onRemoveBudgetClicked($event)"
        (editBudget)="onEditBudget($event)">
      </bs-budget>
    </div>
  </ng-template>
  <ng-template #hasNoSubBudgets>
  </ng-template>
</div>