@import '../../../variables';

.budget-item {
  padding: 15px;

  &__container {
    margin-top: 15px;
  }

  &__actions {
    display: inline-block;
  }

  &__content {
    display: inline-block;
  }

  &--level-1 {
    border: 2px solid mat-color($md-steel, 50);
    
    .budget-item {
      background-color: mat-color($md-brown, A100);
    }
  }

  &--level-2 {
    border: 2px solid mat-color($md-steel, 100);

    .budget-item {
      background-color: mat-color($md-steel, A100);
    }
  }

  &__name {
    font-weight: bold;
  }

  &__stats {
    margin-top: 12px;
  }

  &__balance-stat {
    margin-left: 36px;
  }

  &__sub-budget-container {
    padding: 15px;
    padding-top: 0;
  }
}